/* import of utilities */
/* import of base */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

/* import of layout */
.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(111, 78, 55);
  padding: 0.5rem 1.5rem;
}
.header__menu img {
  display: none;
}
@media screen and (max-width: 480px) {
  .header__menu img {
    display: flex;
  }
}
@media screen and (max-width: 480px) {
  .header__nav {
    display: none;
    /*       &--true {
      display: flex;
    } */
  }
}
.header__ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
}
@media screen and (max-width: 480px) {
  .header__ul {
    flex-direction: column;
  }
}
.header__li a {
  color: rgb(254, 216, 177);
  font-size: 1em;
}
.header__li a:hover {
  color: rgb(236, 177, 118);
  transition-duration: 500ms;
}

.footer {
  background-color: rgb(111, 78, 55);
  color: rgb(236, 177, 118);
  width: 100%;
}
.footer__info {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: self-start;
  gap: 2rem;
  padding: 20px 0;
  width: 80%;
  margin: 0 auto;
}
@media screen and (max-width: 480px) {
  .footer__info {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
}
.footer__link {
  display: grid;
  gap: 1rem;
  text-align: center;
}
.footer__link p {
  font-size: 1.2rem;
}
.footer__link--color {
  color: rgb(236, 177, 118);
}
.footer__link--color:hover {
  text-decoration: underline;
}
.footer__contact {
  display: grid;
  max-width: 300px;
  gap: 1rem;
  text-align: center;
}
.footer__contact--title {
  font-size: 1.2rem;
}
.footer__social {
  display: grid;
  gap: 1rem;
  text-align: center;
}
.footer__social p {
  font-size: 1.2rem;
}
.footer__social--link {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.footer__social--media {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.home__banner {
  width: 100%;
  height: 400px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.home__banner .banner__title {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 1.5rem;
}
.home__banner .banner__img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.viewMenu {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 2rem 0rem;
}
.viewMenu img {
  width: 400px;
  height: auto;
}
@media screen and (max-width: 480px) {
  .viewMenu img {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .viewMenu {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 0rem;
  }
}
.viewMenu__title {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;
  align-items: center;
  max-width: 50%;
}
@media screen and (max-width: 480px) {
  .viewMenu__title {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
.viewMenu__to {
  background-color: rgb(166, 123, 91);
  color: white;
  padding: 0.25rem 0.6rem;
  max-width: max-content;
  font-size: 0.8125rem;
}

.coffeType {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.coffeType__descrip {
  max-width: 80%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.coffeType__content {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  max-width: 100%;
  overflow: hidden;
}
.coffeType__article {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(77, 77, 82);
  padding: 0.625rem;
  border-radius: 2rem;
  width: 140px;
}

/* @include mediaMovile() {} */
.category {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.category__menu {
  display: flex;
  gap: 1rem;
}
@media screen and (max-width: 480px) {
  .category__menu {
    display: none;
  }
}
.category__btn {
  display: none;
}
@media screen and (max-width: 480px) {
  .category__btn {
    display: flex;
    background: rgb(236, 177, 118);
    padding: 8px;
    border: none;
    border-radius: 1rem;
  }
}
.category__view {
  display: flex;
  gap: 1rem;
}

.menuList {
  /*   &__option--img {
   }
  */
}
.menuList__content {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.menuList__option {
  width: 200px;
  height: auto;
  background: rgb(236, 177, 118);
  border-radius: 1.5rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: none;
  align-items: none;
}
@media screen and (max-width: 480px) {
  .menuList__option {
    width: 140px;
  }
}
.menuList__info {
  background: rgba(225, 106, 84, 0.4);
  color: rgb(254, 216, 177);
  border-radius: 0 0 1.5rem 1.5rem;
  padding: 8px;
  font-size: 0.7rem;
  text-align: center;
}

/* CARD DE CONTACTOS */
.contact {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: 1fr;
  justify-content: center;
  justify-items: center;
  gap: 0.625rem;
  margin: 0.3125rem;
  grid-template-areas: "item1 item2 item3";
  /*   &__infoMap {
    } */
  /*   &__cardInfoDirect {
    } */
  /*   &__cardInfoPhone {
    } */
}
@media screen and (max-width: 680px) {
  .contact {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 8rem;
    grid-template-areas: "item1 item2" "item3 item3";
  }
}
@media screen and (max-width: 480px) {
  .contact {
    grid-template-columns: 1fr;
    grid-template-rows: auto 8rem auto;
    grid-template-areas: "item1" "item2" "item3";
  }
}
.contact__svg {
  width: 40px;
}
.contact__cardMap {
  grid-area: item1;
  background: rgb(236, 177, 118);
  border-radius: 1rem;
  padding: 0.5rem;
  width: 260px;
  height: 130px;
  place-items: center;
  text-align: center;
}
.contact__cardMap div {
  margin-top: 10px;
}
.contact__cardDirect {
  grid-area: item2;
  background: rgb(236, 177, 118);
  border-radius: 1rem;
  padding: 0.5rem;
  width: 260px;
  height: 130px;
  place-items: center;
  text-align: center;
}
.contact__cardDirect div {
  margin-top: 10px;
}
.contact__cardPhone {
  grid-area: item3;
  background: rgb(236, 177, 118);
  border-radius: 1rem;
  padding: 0.5rem;
  width: 260px;
  height: 130px;
  place-items: center;
  text-align: center;
}
.contact__cardPhone div {
  margin-top: 10px;
}

/* formulario */
.formContact {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 20px;
  max-width: 100%;
  /*   &__content {
      width: 100%;
    } */
}
.formContact__message {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 480px;
  padding: 30px;
  margin: auto;
  border-radius: 10px;
  color: white;
  background: rgb(236, 177, 118);
}

.abourUs {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
}
.abourUs__img {
  width: 300px;
  height: auto;
}
@media screen and (max-width: 680px) {
  .abourUs__img {
    position: relative;
    width: 100%;
    padding: 0rem;
  }
}
.abourUs__title {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;
  align-items: center;
  max-width: 50%;
}
@media screen and (max-width: 680px) {
  .abourUs__title {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}

.aboutHistory {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
@media screen and (max-width: 680px) {
  .aboutHistory {
    position: relative;
    width: 100%;
    padding: 0rem;
  }
}
.aboutHistory__img {
  width: 300px;
  height: auto;
}
@media screen and (max-width: 680px) {
  .aboutHistory__img {
    width: 100%;
  }
}
.aboutHistory__title {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;
  align-items: center;
  max-width: 50%;
}
@media screen and (max-width: 680px) {
  .aboutHistory__title {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}

/* Preguntas */
.questions {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  align-content: stretch;
  justify-content: start;
}
.questions__title {
  width: 80%;
  text-align: center;
}

.faqs {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.faqs__questions {
  width: 25%;
  text-align: center;
}
@media screen and (max-width: 680px) {
  .faqs__questions {
    width: 40%;
  }
}
@media screen and (max-width: 480px) {
  .faqs__questions {
    flex-direction: column;
    width: 80%;
  }
}

/* Horario */
.inforQuestions {
  display: grid;
  grid-template-columns: repeat(2, 30%);
  grid-template-rows: 8rem auto;
  grid-template-areas: "item1 item2";
  justify-items: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}
@media screen and (max-width: 680px) {
  .inforQuestions {
    grid-template-columns: 1fr;
    grid-template-rows: auto 8rem auto;
    grid-template-areas: "item1" "item2";
  }
}
.inforQuestions__horario {
  grid-area: item1;
  text-align: center;
  align-content: center;
}
.inforQuestions__reservas {
  grid-area: item2;
  text-align: center;
  align-content: center;
}

/* import of components */

/*# sourceMappingURL=styles.css.map */
