$colores: (
  color-one: rgb(111 78 55),
  color-two: rgb(166 123 91),
  color-three: rgb(236 177 118),
  color-four: rgb(254 216 177),
  color-five: rgb(124 68 79),
  color-six: rgb(159 82 85),
  color-seven: rgb(225 106 84),
  color-seven-half: rgb(225 106 84 / 40%),
  color-eight: rgb(243 158 96),
);