@mixin flex($direction, $wrap, $justify, $align) {
  display: flex;
  flex-flow: $direction $wrap;
  justify-content: $justify;
  align-items: $align;
}

@mixin mediaTablet() {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin mediaMovile() {
  @media screen and (max-width: 480px) {
    @content;
  }
}

@mixin gradient($direction, $list) {
  background: linear-gradient($direction, $list);
}
