/* CARD DE CONTACTOS */

.contact {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: 1fr;
  justify-content: center;
  justify-items: center;
  gap: 0.625rem;
  margin: 1.5rem;
  grid-template-areas: "item1 item2 item3";
  @include mediaTablet() {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 8rem;
    grid-template-areas:
      "item1 item2"
      "item3 item3";
  }

  @include mediaMovile() {
    grid-template-columns: 1fr;
    grid-template-rows: auto 8rem auto;
    grid-template-areas:
      "item1"
      "item2"
      "item3";
  }

  &__svg {
    width: 40px;
  }

  &__cardMap {
    grid-area: item1;
    background: map-get($colores, color-three);
    border-radius: 1rem;
    padding: 0.5rem;
    width: 260px;
    height: 130px;
    place-items: center;
    text-align: center;
    div {
      margin-top: 10px;
    }
  }

  /*   &__infoMap {
  } */

  &__cardDirect {
    grid-area: item2;
    background: map-get($colores, color-three);
    border-radius: 1rem;
    padding: 0.5rem;
    width: 260px;
    height: 130px;
    place-items: center;
    text-align: center;
    div {
      margin-top: 10px;
    }
  }

  /*   &__cardInfoDirect {
  } */

  &__cardPhone {
    grid-area: item3;
    background: map-get($colores, color-three);
    border-radius: 1rem;
    padding: 0.5rem;
    width: 260px;
    height: 130px;
    place-items: center;
    text-align: center;
    div {
      margin-top: 10px;
    }
  }

  /*   &__cardInfoPhone {
  } */
}

/* formulario */

.formContact {
  display: flex;
  padding: 40px 20;
  gap: 20px;

  @include mediaTablet() {
    flex-direction: column;
  }

  &__sms {
    width: 50%;
    padding: 0 1rem;
    margin-bottom: 2rem;
    h2 {
      font-size: 2.5rem;
      font-weight: 400;
      margin-bottom: 2rem;
    }

    p {
      font-size: 1rem;
      text-align: justify;
    }
    
    @include mediaTablet() {
      width: 100%;
    }
  }

  &__content {
    width: 50%;
    padding: 1rem;
    background: map-get($colores, color-four-half2);
    border-radius: 4px;
    color: white;

    @include mediaTablet() {
      width: 100%;
    }
  }

  &__input {
    width: 100%;
    background: map-get($colores, color-three);
    padding: 0.75rem;
    border-radius: 6px;
    color: white;
    margin-bottom: 10px;
  }

  &__btn {
    width: 100%;
    background: map-get($colores, color-one);
    border-radius: 30px;
    padding: .75rem;
    color: white;
    margin-top: .75rem;
    font-size: 1rem;
    letter-spacing: 1px;
    transition: 500ms ease;
    &:hover {
      background: map-get($colores, color-two);
    }
  }
}