/* CARD DE CONTACTOS */

.contact {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: 1fr;
  justify-content: center;
  justify-items: center;
  gap: .625rem;
  margin: .3125rem;
  grid-template-areas: "item1 item2 item3";

  @include mediaTablet() {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 8rem;
    grid-template-areas:
      "item1 item2"
      "item3 item3";
  }

  @include mediaMovile() {
    grid-template-columns: 1fr;
    grid-template-rows: auto 8rem auto;
    grid-template-areas:
      "item1"
      "item2"
      "item3";
  }

  &__svg {width: 40px;}

  &__cardMap {
    grid-area: item1;
    background: map-get($colores, color-three);
    border-radius: 1rem;
    padding: 0.5rem;
    width: 260px;
    height: 130px;
    place-items: center;
    text-align: center;
    div {
      margin-top: 10px;
    }
  }

/*   &__infoMap {
  } */

  &__cardDirect {
    grid-area: item2;
    background: map-get($colores, color-three);
    border-radius: 1rem;
    padding: 0.5rem;
    width: 260px;
    height: 130px;
    place-items: center;
    text-align: center;
    div {
      margin-top: 10px;
    }
  }

/*   &__cardInfoDirect {
  } */

  &__cardPhone {
    grid-area: item3;
    background: map-get($colores, color-three);
    border-radius: 1rem;
    padding: 0.5rem;
    width: 260px;
    height: 130px;
    place-items: center;
    text-align: center;
    div {
      margin-top: 10px;
    }
  }

/*   &__cardInfoPhone {
  } */
}

/* formulario */

.formContact {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 20px;
  max-width: 100%;

/*   &__content {
    width: 100%;
  } */

  &__message {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 480px;
    padding: 30px;
    margin: auto;
    border-radius: 10px;
    color: white;
    background: map-get($colores, color-three);
  }
}
