.footer {
  background-color: map-get($colores, color-one);
  width: 100%;

  &__info {
    @include flex(row, nowrap, center, start);
    gap: 20px;
    padding: 20px 0px;

    @include mediaTablet() {
      @include flex(column, nowrap, center, center);
    }
  }

  &__text {
    color: map-get($colores, color-three);
  }

  &__link {
    width: 300px;

    &--title {
      color: map-get($colores, color-four);
      font-size: 20px;
      margin-bottom: 10px;
    }
  }

  &__contact {
    width: 300px;

    &--title {
      color: map-get($colores, color-four);
      font-size: 20px;
      margin-bottom: 10px;
    }
  }

  &__social {
    width: 300px;

    &--title {
      color: map-get($colores, color-four);
      font-size: 20px;
      margin-bottom: 10px;
    }

    &--link {
      @include flex(row, nowrap, none, none);
    }

    &--icono {
      width: 40px;
      height: 40px;
      margin-right: 10px;
      background-color: map-get($colores, color-two);
      transition: background-color 1s ease;
      &:hover {
        background-color: map-get($colores, color-three);
      }
    }
  }
}
