/* Preguntas */

.questions {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  align-content: stretch;
  justify-content: start;
  &__title {
    width: 80%;
    text-align: center;
  }
}

.faqs {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  &__questions {
    width: 25%;
    text-align: center;
    @include mediaTablet() {
      width: 40%;
    }
    @include mediaMovile() {
      flex-direction: column;
      width: 80%;
    }
  }
}

/* Horario */

.inforQuestions {
  display: grid;
  grid-template-columns: repeat(2, 30%);
  grid-template-rows: 8rem auto;
  grid-template-areas: "item1 item2";
  justify-items: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;

  @include mediaTablet() {
    grid-template-columns: 1fr;
    grid-template-rows: auto 8rem auto;
    grid-template-areas:
      "item1"
      "item2";
  }

  &__horario {
    grid-area: item1;
    text-align: center;
    align-content: center;
  }

  &__reservas {
    grid-area: item2;
    text-align: center;
    align-content: center;
  }
}
