/* Preguntas */

.questions {
}

.faqs {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;

  &__questions {
    width: 35%;

    @include mediaTablet() {
      width: 40%;
    }
    @include mediaMovile() {
      flex-direction: column;
      width: 80%;
    }

    details {
      background-color: map-get($colores, color-three);
      border: 2px solid map-get($colores, color-one);
      border-radius: 0.5rem;
      &[open] {
        background-color: map-get($colores, color-four);
      }
      h3 {
        padding: 8px;
      }
      p {
        padding: 12px;
        margin: 0 8px 8px 8px;
        border-left: 2px solid map-get($colores, color-five);
        text-align: justify;
      }
    }

    summary {
      font-weight: 300;
      font-size: 1.25rem;
      padding: 10px;
      cursor: pointer;
      &[open]{
        font-weight: 800;
      }
    }
  }
}

/* Horario */

.inforQuestions {
  display: grid;
  grid-template-columns: repeat(2, 30%);
  grid-template-rows: 8rem auto;
  grid-template-areas: "item1 item2";
  justify-items: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;

  @include mediaTablet() {
    grid-template-columns: 1fr;
    grid-template-rows: auto 8rem auto;
    grid-template-areas:
      "item1"
      "item2";
  }

  &__horario {
    grid-area: item1;
    text-align: center;
    align-content: center;
  }

  &__reservas {
    grid-area: item2;
    text-align: center;
    align-content: center;
  }
}
