.questions {
  margin: 20px;
}

.questionsTitle {
  margin-bottom: 40px;

  h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
  }

  p {
    text-align: justify;
    font-size: 1rem;
    width: 80%;
    margin: auto;

    @include mediaTablet() {
      width: 100%;
    }
  }
}

.faqs {
  @include flex(row, wrap, center, center);
  gap: 20px;

  &__questions {
    width: 500px;
    details {
      padding: 16px;
      border: 2px solid map-get($colores, color-one);
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      background-color: map-get($colores, color-three);
      transition: 500ms ease;
      &[open] {
        background-color: map-get($colores, color-four);
      }
      h3 {
        padding: 8px;
      }
      p {
        padding: 12px;
        margin: 0 8px 8px 8px;
        border-left: 2px solid map-get($colores, color-five);
        text-align: justify;
      }
    }

    summary {
      font-weight: 300;
      font-size: 1.25rem;
      padding: 10px;
      cursor: pointer;
      &[open] {
        font-weight: 800;
      }
    }
  }
}
