.header {
  @include flex(row, nowrap, space-between, center);
  background-color: map-get($colores, color-nav);
  padding: 1rem 2rem;

  &__hambuguer {
    img {
      display: none;
      @include mediaTablet() {
        display: flex;

      }
    }
  }

  &__nav {
    @include mediaTablet() {
      display: none;
    }
  }

  &__ul {
    @include flex(row, nowrap, flex-end, center);
    gap: 30px;

    @include mediaTablet() {
      flex-direction: column;
    }
  }

  &__li {
    a {
      color: map-get($colores, color-three);
      font-size: 1em;

      &:hover {
        color: map-get($colores, color-four);
        transition-duration: 500ms;
      }
    }
  }
}
