.main {
  margin: 1.5rem;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.categoryMenu {
  @include flex(row, nowrap, space-between, center);

  &__icon {
    display: flex;
    gap: 1rem;

    a {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      padding: 10px 20px;
      background: map-get($colores, color-three);
      border-radius: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      color: map-get($colores, color-nav);
      transition: 800ms ease;
      &:hover {
        background: map-get($colores, color-four);
        color: map-get($colores, color-seven);
      }
    }
  }

  &__menu {
    @include mediaTablet() {
      display: none;
    }
  }
  &__btn {
    display: none;
    @include mediaTablet() {
      display: flex;
      height: 44px;

      gap: 0.5rem;
      align-items: center;
      padding: 10px 20px;
      background: map-get($colores, color-three);
      border-radius: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      transition: 800ms ease;
      &:hover {
        background: map-get($colores, color-four);
      }
    }
  }
}

.menuList {
  margin: 40px 0;
  &__content {
    @include flex(row, wrap, center, center);
    gap: 1rem;
  }

  &__option {
    width: 280px;
    background: map-get($colores, color-four-half);
    margin: 10px;
    border-radius: 20px;
    transition: transform 1000ms ease;
    &:hover {
      transform: scale(1.1);
    }

    &--img {
      padding: 20px;
      img {
        width: 150px;
        margin: auto;
      }
    }
  }

  &__info {
    padding: 20px;
    text-align: justify;
    background: #ffffff28;
    border-radius: 0 0 20px 20px;

    h3 {
      font-size: 1.5rem;
      font-weight: 600;
      color: map-get($colores, color-nav);
    }

    h4 {
      margin: 4px 0;
      font-weight: 300;
      color: map-get($colores, color-one);
    }
  }
}
